<!doctype html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>后台登录-X-admin2.2</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />

        <link rel="stylesheet" href="../../static/css/font.css">
        <link rel="stylesheet" href="../../static/css/xadmin.css">
		<script type="text/javascript" src="../../static/lib/layui/layui.js" charset="utf-8"></script>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            
                            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                            <div id="main" style="width: 100%;height:500px;"></div>
                            
                            <div class="layui-collapse" lay-accordion="">
                              <div class="layui-colla-item">
                                <h2 class="layui-colla-title">详细信息</h2>
                                <div class="layui-colla-content ">
                                
                                  <div class="layui-collapse" lay-accordion="">
                                    
									<div class="layui-colla-item">
									  <h2 class="layui-colla-title">五级用户</h2>
									  <div class="layui-colla-content">
									    <p>
											这类客户的平均折扣系数(C)较高(一般所乘航班的舱位等级较高)，最近乘机距今的时间长度(R)低，飞行次数(F)或总飞行里程(M)较高。<br>
											他们是航空公司的高价值客户，是最为理想的客户类型，对航空公司的贡献最大，所占比例却较小。<br>
											航空公司应该优先将资源投放到他们身上，对他们进行差异化管理和一对一营销提高这类客户的忠诚度与满意度，尽可能延长这类客户的高水平消费。<br>
											
											 
										</p>
									  </div>
									</div>
									
									<div class="layui-colla-item">
									  <h2 class="layui-colla-title">四级用户</h2>
									  <div class="layui-colla-content">
									    <p>这类客户的平均折扣系数(C)较高，最近乘机距今的时间长度(R)低，但飞行次数(F)或总飞行里程(M)较低。<br>
											这类客户入会时长(L)短，他们是航空公司的潜在价值客户。<br>
										虽然这类客户的当前价值并不是很高，但却有很大的发展潜力航空公司要努力促使这类客户增加在本公司的乘机消费和合作伙伴处的消费，也就是增加客户的钱包份额。<br>
										通过客户价值的提升，加强这类客户的满意度，提高他们转向竞争对手的转移成本，使他们逐渐成为公司的忠诚客户。</p>
									  </div>
									</div>
									
                                    <div class="layui-colla-item">
                                      <h2 class="layui-colla-title">三级用户</h2>
                                      <div class="layui-colla-content">
                                        <p>
											这类客户过去所乘航班的平均折扣系数(C)、飞行次数(F)或者总飞行里程(M)较高，但是已经较长时间没有乘坐本公司的航班(R高)或是乘坐频率变小。<br>
											这类客户价值变化的不确定性很高。由于这类客户衰退的原因各不相同，所以掌握客户的最新信息，维持与客户的互动就显得尤为重要。<br>
											航空公司应该根据这类客户的最近消费时间、消费次数的变化情况，推测客户消费的异动状况，并列出客户名单，对其重点联系，采取一定的营销手段，延长客户的生命周期。
										</p>
                                      </div>
                                    </div>
									
                                    <div class="layui-colla-item">
                                      <h2 class="layui-colla-title">二级用户</h2>
                                      <div class="layui-colla-content">
                                        <p>
											这类客户所乘航班的平均折扣系数(C)很低，较长所间没有乘坐过本公司航班(R较高)，飞行次数(F)或总飞行里程(M)较低，入会时长(L)短。<br>
											他们是航空公司的一般用户，可能是在航空公司机票打折促销时才会乘坐本公司航班。
																	</p>
                                      </div>
                                    </div>
									
									<div class="layui-colla-item">
									  <h2 class="layui-colla-title">一级用户</h2>
									  <div class="layui-colla-content">
									    <p>
											这类客户所乘航班的平均折扣系数(C)很低，较长所间没有乘坐过本公司航班(R较高)，飞行次数(F)或总飞行里程(M)较低，入会时长(L)短。<br>
											他们是航空公司的低价值客户，可能是在航空公司机票打折促销时才会乘坐本公司航班。
										</p>
									  </div>
									</div>
									
                                  </div>
                                </div>
                              </div>
                              
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
			
			
			
        </div>
		
 
<br>

        <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
        <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '用户分类图'
            },
            tooltip: {},
            legend: {
                data: ['一级用户', '二级用户','三级用户','四级用户','五级用户']
            },
            radar: {
                // shape: 'circle',
                indicator: [
                   { name: '客户关系长度L', max: 1.5},
                   { name: '消费时间间隔R', max: 2},
                   { name: '消费频率F', max: 3},
                   { name: '飞行里程M', max: 3},
                   { name: '平均折扣系数C', max: 2.5}
                   
                ]
            },
            series: [{
                name: '客户类聚',
                type: 'radar',
                // areaStyle: {normal: {}},
                data : [
                    {
                        value : [-0.3104,	1.692093,	-0.57473,	-0.53671,  	-0.1833],
                        name : '一级用户'
                    },
                     {
                        value : [-0.70093,	-0.41656,	-0.15805,	-0.157,	    -0.27236],
                        name : '二级用户'
                    },
					{
					    value : [1.163297,	-0.37798,	-0.08549,	-0.09327,	-0.16087],
					    name : '三级用户'
					},
					{
					    value : [-0.0014,	0.001522,	-0.24896,	-0.25895,  	2.071229],
					    name : '四级用户'
					},
					{
					    value : [0.485654,	-0.7999,	2.483507,	2.424729,	0.314122],
					    name : '五级用户'
					}
                ]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
	<script src="/X-admin/lib/layui/layui.all.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['element', 'layer'], function(){
  var element = layui.element;
  var layer = layui.layer;
  
  //监听折叠
  element.on('collapse(test)', function(data){
    layer.msg('展开状态：'+ data.show);
  });
});
</script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </body>
</html>