<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="../../static/css/font.css">
        <link rel="stylesheet" href="../../static/css/xadmin.css">
        <script src="../../lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../../static/js/xadmin.js"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                          营销方案
                        </div>
                        <div class="layui-card-body ">
                          <ul class="layui-timeline">
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">1。会员的升级与保级</h3>
                                <p>
                                  

航空公司的会员可以分为白金卡会员、金卡会员、银卡会员和普通卡会员，其中非普
通卡会员可以统称为航空公司的精英会员。虽然各个航空公司都有自己的特点和规定，但
会员制的管理方法是大同小异的。成为精英会员一般都是要求在一定时间内(如一年)积累一定的飞行里程或航段，达到这种要求后就会在有效期内(通常为两年)成为精英会员，并享受相应的高级别服务。有效期快结束时，根据相关评价方法确定客户是否有资格继续作为精英会员，然后对该客户进行相应的升级或降级。<br>
然而，由于许多客户并没有意识到或根本不了解会员升级或保级的时间与要求(相关的文件说明往往复杂且不易理解)，经常在评价期过后才发现自己其实只差一点就可以实现升级或保级，却错过了机会，使之前的里程积累白白损失。同时，这种认知还可能导致客因此，航空公司在对会员升级或保级进行评价的时间点之前，可以对那些接近但尚未户的不满，就放弃在本公司的消费。达到要求的较高消费客户进行适当提醒甚至采取一些促销活动，刺激他们通过消费达到相应标准。这样既可以获得收益，同时也提高了客户的满意度，增加了公司的精英会员。

                                  
                                </p>
                              </div>
                            </li>
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2。首次兑换</h3>
                                <p>
																	
航空公司常旅客计划中最能够吸引客户的内容就是客户可以通过消费积累的里程来换免票或免费升舱等。各个航空公司都有一个首次兑换标准，也就是当客户的里程或期段积累到一定程度时才可以实现第一次兑换，这个标准会高于正常的里程兑换标准。但是多公司的里程积累随着时间会进行一定的削减，例如有的公司会在年末对该年积累的里进行折半处理。这样会导致许多不了解情况的会员白白损失自己好不容易积累的里程，甚至总是难以实现首次兑换。同样，这也会引起客户的不满或流失。可以采取的措施是据库中提取出接近但尚未达到首次兑换标准的会员，对他们进行提醒或促销，使他们通过消费达到标准。一旦实现了首次兑换，客户在本公司进行再次消费兑换就比在其他公司行兑换要容易许多，等于在一定程度上提高了转移的成本。另外，在一些特殊的时间点(如里程折半的时间点)之前可以给客户一些提醒，这样可以增加客户的满意度。

																</p>
                              </div>
                            </li>
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">3。交叉销售</h3>
                                <p>
                                 
通过发行联名卡等与非航空类企业的合作，使客户在其他企业的消费过程中获得本司的积分，增强与公司的联系，提高他们的忠诚度。如可以查看重要客户在非航空类合作伙伴处的里程积累情况，找出他们习惯的里程积累方式(是否经常在合作伙伴处消费，更喜欢消费哪些类型合作伙伴的产品)，对他们进行相应促销。客户识别期和发展期为客户关系打下基石，但是这两个时期带来的客户关系是短暂的不稳定的。企业要获取长期的利润，必须具有稳定的、高质量的客户。保持客户对于企业是至关重要的，不仅因为争取一个新客户的成本远远高于维持老客户的成本，更重要的是客户流失会造成公司收益的直接损失。因此，在这一时期，航空公司应该努力维系客户关系水平，使之处于较高的水准，最大化生命周期内公司与客户的互动价值，并使这样的高水平尽可能延长。对于这一阶段的客户，主要应该通过提供优质的服务产品和提高服务水平来提高客户的满意度。通过根据对常旅客数据库的数据分析，进行客户细分，可以获得重要保持客户的名单。这类客户一般所乘航班的平均折扣系数(C)较高，最近乘机距今的时间长度(R)低，飞行次数(F)或总飞行里程(M)也较高。他们是航空公司的价值客户，是最为理想的客户类型，对航空公司的贡献最大，所占比例却比较小。航空公司应该优先将资源投放到他们身上，对他们进行差异化管理和一对一营销，提高这类客户的忠诚度与满意度，尽可能延长这类客户的高水平消费。

                                </p>
                              </div>
                            </li>
                            
                          </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </body>
          </html>